@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827; /* neutral-900 */
  --foreground: #F3F4F6; /* neutral-100 */
}

body {
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1F2937; /* neutral-800 */
}

::-webkit-scrollbar-thumb {
  background: #4B5563; /* neutral-600 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6B7280; /* neutral-500 */
}
